<h1 class="title" >Página de productos en vivo</h1>

<p style="color: red">{{error}}</p>

<div class="container">
    <div class="form" >
        <h2>Formulario para crear un producto</h2>
            <form id="createProductForm">
                <input type="text" placeholder="Nombre del producto" name="title"/>
                <br/><br/>
                <input type="text" placeholder="Descripcion del producto" name="description"/>
                <br/><br/>
                <input type="number" placeholder="Precio del producto" name="price"/>
                <br/><br/>
                <input type="text" placeholder="Imagen del producto" name="thumbnail"/>
                <br/><br/>
                <input type="text" placeholder="Codigo del producto" name="code"/>
                <br/><br/>
                <input type="number" placeholder="Stock del producto" name="stock"/>
                <br/><br/>
                <input type="text" placeholder="Categoria del producto" name="category"/>
                <br/><br/>
                <button type="submit">Agregar producto</button>
            </form>

            <hr>
    </div>

    <div class="containerProducts">
        <h2 class="subtitle">Listado de productos</h2>
        <ul class="productList" id="productList"></ul>

    </div>

</div>

{{!-- aca con este script, establecemos que la libreria que vamos a utilizar es la de "socket.io" que sale de la 
carpeta "node_modules" --> "socket.io" --> "client-dist" (que es una carpeta publica para el Front) -->"socket.io.js", 
y buescamos configurar socket del lado del cliente --}}

<script src="socket.io/socket.io.js"></script> 

{{!-- en este script buscamos la carpeta con la que trabajamos en "js" dentro de la vista. --}}
<script src="js/realTime.js"></script>