<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{style}}">

</head>
<body class="main">
    <nav class="nav">
        <a class="nav__link" href="/"> Home </a>
        <a class="nav__link" href="/realtimeproducts"> Real Time Products </a>
        <a class="nav__link" href="/chats"> Chats from users </a>
        <a class="nav__link" href="/products">Paginacion</a>
        <a class="nav__link" href="/profile">Perfil</a>
        <a class="nav__link" href="/register">Registro</a>
    </nav>
        {{{body}}} {{!--  aca se renderizan las vistas --}}
        
    <footer></footer>
    
</body>

</html>